*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    font-family: 'pretendard';
    color: #363636;
}
img{
    vertical-align: top;
    width: 100%;
}
button img{
    width: 50%;
}

.wrap{
    display: flex;
}
header{
    width: 198px;
    border-right: 2px solid #363636;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}

header h1 img{
    width: 140px;
    display: block;
    margin: 0 auto;
    padding-top: 90px;
}

header .util{
    font-size: 12px;
    display: flex;
    position: absolute;
    top: 160px;
    right: 0;
    margin-right: 15px;
    font-weight: 500;
}
header .util li{
    margin-left: 20px;
    transition: all 1s;
}


header .gnb{
    padding-left: 20px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
header .gnb>li a{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
}
header .gnb li{
    margin-bottom: 10px;
    position: relative;
}
header .gnb>li:hover>a{
    border-bottom: 2px solid #363636;
}

header .sub{
    font-size: 12px;
    padding-left: 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}
header .sub li{
    margin-bottom: 10px;
    transition: all 1s;
}
header .sub li:hover{
    transform: translate(-3px, -3px);
}
header .util li:hover{
    transform: translate(-3px, -3px);
}

.gnb li:hover .sub{
    height: 135px;
    opacity: 1;
}
.gnb li:nth-child(1):hover .sub{
    height: 190px;
    opacity: 1;
}
.gnb li:nth-child(4):hover .sub{
    height: 218px;
    opacity: 1;
}
.gnb li:nth-child(5):hover .sub{
    height: 108px;
    opacity: 1;
}
.gnb li:nth-child(8):hover .sub{
    height: 50px;
    opacity: 1;
}
header .sub a{
    display: block;
    width: 130px;
    height: 16px;
}

header .search{
    padding-top: 50px;
    padding-left: 20px;
}
header input{
    width: 140px;
    border: 0;
    border-bottom: 2px solid #363636;
}
header button{
    font-size: 16px;
    border: 0;
    background-color: transparent;
}



.main{
    position: relative;
    width: calc(100% - 200px);
}
.left{
    width: 2px;
    height: 100%;
    background-color: #363636;
    position: absolute;
    left: 12.5%;
    top: 0px;
    z-index:100;
}
.right{
    width: 2px;
    height: 100%;
    background-color: #363636;
    position: absolute;
    right: 12.5%;
    top: 0px;
    z-index:100;
}


.conwrap{
    border-top: 2px solid #363636;
    border-bottom: 2px solid #363636;
    margin-top: 75px;
}
.con{
    width: 75%;
    margin: 0 auto;
    display: flex;
}
button{
    border: 0;
    background-color: transparent;
}


.conwrap1{
    margin-top: 0;
    border: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
figure{
    width: 100%;
    border-top: 2px solid #363636;
    border-bottom: 2px solid #363636;
    margin: 0 auto;
    position: relative;
}
figure video{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mainlogo{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mainlogo img{
    width: 100%;
}
.mainlogo p{
    color: white;
    margin-top: 15px;
    line-height: 25px;
    font-size: 1vw;
}


.conwrap2{
    width: 100%;
    height: 500px;
    border-bottom: 2px solid #363636;
}
.conwrap2 .con{
    height: 100%;
}
.product{
    width: 70%;
    display: flex;
    position: relative;
}
.cate{
    width: calc(30% - 2px);
    border-right: 2px solid #363636;
}
.cwsecond .cate{
        border-left: 2px solid #363636;
        border-right: 0;
}
.pic{
    height: 80%;
    border-bottom: 2px solid #363636;
    padding: 15px;
}
.cate img{
    height: 100%;
}
.cate .txt{
    height: calc(20% - 32px); /*패딩값 15px*2 + border값 2px*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.btn{
    height: 100%;
    width: 40px;
    border-right: 2px solid #363636;
}
.btn:last-child{
    border-left: 2px solid #363636;
    border-right: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.cwfirst .btn{
    background-color: #ffe0b2;
}
.cwsecond .btn{
    background-color: #7f935c;
}
.cwthird .btn{
    background-color: #8aaebb;
}
.slide{
    width: calc(100% - 80px); /*버튼 width 40px*2*/
    overflow: hidden;
    display: flex;
}

.item{
    width: 18vw;
    height: 500px;
}
.ipic{
    width: 80%;
    height: 345px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.gap1{
    height: 45px;
}
.ipic img{
    border-bottom: 2px solid #363636;
    border-right: 2px solid #363636;
}
.ipic img:hover{
    transition: all 1s;
    transform: translateY(-10px);
}
.itxt{
    width: 100%;
    height: 70px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.itxt span{
    font-size: 14px;
    line-height: 30px;
}
.gap2{
    height: 40px;
}
.brand{
    width: calc(50% - 1px);
    border-right: 2px solid #363636;
}
.store{
    width: calc(50% - 1px);
}
.brpic, .stpic{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #363636;
}
.brtxt, .sttxt{
    height: 8vh;
    text-align: center;
    line-height: 8vh;
    font-size: 20px;
}
.brpicwrap, .stpicwrap{
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}
.brpic:hover img, .stpic:hover img{
    transform: scale(1.2);
    transition: all 1s;
}


.conwrap4 a{
    display: flex;
}
.conwrap4 .txt{
    width: calc(30% - 2px);
    border-left: 2px solid #363636;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.conwrap4 .picslide{
    width: calc(100% - 80px);
    font-size: 0;
}
.slidepic img{
    width: 100%;
}
.conwrap4 .txt p{
    margin-top: 10px;
}
.txtwrap{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.picbtnL, .picbtnR{
    height: 100%;
    width: 40px;
    border-right: 2px solid #363636;
} 
.picbtnR{
    border-left: 2px solid #363636;
    border-right: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.footer{
    border-bottom: 0;
}
.footer .con{
    justify-content: space-around;
    background-color: #d19a83;
}
.fmenu{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 15%;
}
.fmenu li{
    margin-bottom: 20px;
    font-size: 14px;
    transition: all 0.8s;
    padding-left: 10px;
}
.fmenu li:hover{
    transform: translate(-3px, -3px);
}
.fmenu:last-child{
    width: 16%;
}
h4{
    border-bottom: 2px solid #363636;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
address{
    font-style: normal;
    line-height: 20px;
    font-size: 13px;
}
address a{
    text-decoration: underline;
}
.loca{
    font-size: 14px;
}
.loca p{
    margin-bottom: 15px;
    padding-left: 10px;
}
.loca a{
    text-decoration: underline;
}

.last .con{
    width: 75%;
    justify-content: space-between;
}
.last img{
    width: 50%;
    margin-top: 12px;
    margin-left: 20px;
}
.last{
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    border-top: 2px solid #363636;
}
.last i{
    margin-left: 20px;
}
.last .sns{
    margin-right: 25px;
}

